[Unit]
Description=uWSGI
After=syslog.target

[Service]
ExecStart=/usr/lib/cgi-bin/uwsgi/uwsgi --plugin python --ini /usr/lib/cgi-bin/uwsgi/uwsgi.ini
# Requires systemd version 211 or newer
RuntimeDirectory=uwsgi
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
